.body {
  text-align: center;
  align-items: center;
  margin: 25vh;
}

h1 {
  margin-bottom: 7vh;
}

.logo {
  width: 18vw;
}

div {
  display: flex;
  flex-direction: column;
}

p {
  margin-top: 7vh;
}