* {
    margin: 0;
    padding: 0;
}


/* Header */

header {
    display: grid;
    grid-template-columns: 90% 10%;
    justify-items: start;
    padding: 10px;
    background: #ef843a;
}


/* Main content */

.container {
    display: grid;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: ;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

section {
    margin: 10px auto;
    border: 1px solid yellowgreen;
    padding: 10px;
    width: 200px;
}

video {
    width: 100%;
}

footer {
    display: grid;
    padding: 20px 10px;
    background-color: #323b3e;
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}